.main-wrapper {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1cm;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8mm;
    border-radius: 1%;
}

.main-wrapper * {
    font-family: 'Montserrat';
}

h2 {
    text-align: center;
}

.qa, h2{
    padding-bottom: 30px;
}

.q {
    font-size: 1.2em;
}

.a {
    padding-left: 25px;
}

.qa ol {
    padding-left: 50px;
}

.qa li {
    list-style-type: decimal;
    list-style-position: inside;
}
