.main-wrapper {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1cm;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8mm;
    border-radius: 7px;
}

.main-wrapper * {
    font-family: 'Montserrat';
}

h2 {
    text-align: center;
}

.qa, h2{
    padding-bottom: 30px;
}

.q {
    font-size: 1.2em;
}

.a {
    padding-top: 4px;
    padding-left: 25px;
}

.qa ol {
    padding-left: 50px;
}

.qa li {
    list-style-type: decimal;
    list-style-position: inside;
}

@media only screen and (max-width: 660px){
	.main-wrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
    .a {
        padding-left: 0;
    }
    .qa ol {
        padding-left: 25px;
    }
}
