:root {
    --soft-white: #E5E9EC;
    --LM-color: #0099D7;
}

.main-wrapper {
    width: 70vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#slogan {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 25px;
    text-align: center;
}

#learn-more {
    padding-top: 7.5px;
    font-size: 90%;
    color: #F28482;
    transition: 300ms ease-in-out;
}

#learn-more:hover {
    color: #EE6055;
    transition: 300ms ease-in-out;
}

#peopleTotal {
    font-size: 145%;
    background: rgb(63,94,251);
    background: linear-gradient(355deg, rgb(38, 65, 201) 19%, rgb(189, 52, 80) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.peopleInfos {
    font-size: 130%;
    background-color: var(--soft-white);
    padding: 3px 20px 6px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

#contribute-button {
    background-color: #0099D7;
    padding: 10px 15px;
    font-size: 175%;
    color: #DEDEDE;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 35px;
    transition: 300ms ease-in;
}

#contribute-button:hover {
    color: white;
    background-color: #00abef;
    transition: 300ms ease-in;
}

@media only screen and (max-device-width: 700px) {
    .peopleInfos {
        font-size: 100%;
        padding: 10px 14px;
    }
}

@media only screen and (max-device-width: 350px) {
    #slogan {
        margin: 50px 0 35px 0;
    }
    .peopleInfos {
        font-size: small;
        padding: 8px 10px 10px;
        width: 80vw;
    }
    #contribute-button {
        font-size: 150%;
    }
}


/** CAROUSEL STYLE **/

.carousel {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns:
        [first] 18vw
        [image-margin-left] 150px
        [image-start] auto
        [image-margin-right] 150px
        [image-end] 18vw
    [last];
    grid-template-rows: [first] auto [last];
}

.carousel #left {
    grid-column-start: image-margin-left;
    grid-column-end: image-start;
}

.carousel .swipe {
    background-color: rgba(200, 200, 200, 0.7);
    border: 2px solid #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #3c4853;
}

.carousel .swipe * {
    font-size: inherit;
}

.carousel .swipe .swipe-arrow {
    --length: 60px;
    width: var(--length);
    height: var(--length);
    border: 3px var(--LM-color) solid;
    border-radius: var(--length);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .swipe .swipe-arrow:hover {
    cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.carousel-image {
    background-color: #EEE;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-image .img-wrapper {
    width: 99.75%;
    height: 99%;
    position: relative;
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hidden-picture-left {
    position: absolute;
    top: 0;
    left: -101%;
}

#hidden-picture-right {
    position: absolute;
    top: 0;
    right: -101%;
}