
:root {
    --soft-white: #E5E9EC;
    --LM-color: #0099D7;
}

body {
    background-color: #DEDEDE;
}

.scrollLock {
    /* touch-action: none; */
    position: fixed;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 16vh;

    background: linear-gradient(125deg, rgba(48,127,180,1) 14%, rgba(82,160,203,1) 38%, rgba(123,201,230,1) 64%, rgba(181,223,237,1) 83%, rgba(181,223,237,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 125%;
}

header .title {
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

header .title h1 a {
    color: white;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    position: relative;
}

header nav .nav-wrapper {
    width: 80vw; 
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-wrapper img:hover {
    cursor: pointer;
}

header nav .link-wrapper {
    display: flex;
    gap: 35px;
    justify-content: right;
    align-items: center;
}

.link-wrapper a {
    color: #003459;
    transition: 400ms ease-in-out;
    position: relative;
}

.link-wrapper a:hover {
    color: white;
    transition: 400ms ease-in-out;
}

.link-wrapper .underline-anim::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: white;
    transition: 400ms ease-in-out;
}

.link-wrapper .underline-anim:hover::after {
    width: 100%;
    transition: 400ms ease-in-out;
}

header nav .nav-wrapper img {
    height: 90%;
}

#donate-btn {
    background-color: #003459;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 3px;
    transition: 500ms ease-in-out;
}

#donate-btn:hover {
    background-color: #E5E9EC;
    color: black;
    /* transform: rotateY(360deg); */
    transition: 500ms ease-in-out;
}

header .reduced-menu {
    display: none;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
}

header .reduced-menu .trigger-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

header .reduced-menu #menu-trigger {
    width: 25px;
    height: 2px;
    background-color: white;
    position: relative;
    z-index: 3;
}

#menu-trigger::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 8px;
    transform-origin: 0;
}

#menu-trigger::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -8px;
    transform-origin: 0;
}

@keyframes menu-opening {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes menu-closing {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

header .reduced-menu .nav-logo {
    height: 7.5vh;
}


@media (width < 900px) {
    header nav .nav-wrapper {
        justify-content: space-around;
    }

    header nav .nav-wrapper img {
        display: none;
    }

    header nav .nav-wrapper .link-wrapper {
        gap: 50px;
    }
}

@media (width < 630px), (device-width < 630px) {
    header {
        height: 10vh;
    }

    header .title {
        display: none;
    }

    header nav {
        display: none;
    }

    header .reduced-menu {
        display: flex;
        height: 10vh;
    }
}

@media (height < 600px), (device-height < 600px) {
    header {
        height: 96px;
    }
    header .title {
        height: 48px;
    }
    header nav {
        height: 48px;
    }
}

@media (height < 600px) and (width < 630px), (device-width < 630px) and (device-height < 600px) {
    header {
        height: 60px;
    }
    header .reduced-menu {
        height: 60px;
    }
    header .reduced-menu .nav-logo {
        height: 45px;
    }
}


/* Side nav CSS */

#side-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -500px;
    background-color: #00192b;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}

.side-nav-wrapper {
    z-index: 2;
    margin-top: 10vh;
    font-size: 125%;
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.side-nav-wrapper a {
    z-index: 2;
    color: #CCC;
}

.side-nav-wrapper .separation {
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: rgba(200, 200, 200, 0.3);
}

#side-nav-donation {
    z-index: 2;
    margin-top: 40px;
    font-size: 130%;
    /* color: #222; */
    width: 60vw;
    padding: 4vw 1.5vw;
    background-color: lightcyan;
    text-align: center;
    border-radius: 10px;
}

.btn-grad {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 

@keyframes side-nav-appearance {
    0% {
        transform: translate(0)
    }
    100% {
        transform: translate(500px);
    }
}

@keyframes side-nav-disappear {
    0% {
        transform: translate(500px);
    }
    100% {
        transform: translate(0);
    }
}

@media (height < 600px) {
    .side-nav-wrapper {
        margin-top: 60px;
        height: 180px;
    }
}




/* Main's CSS */

main {
    background: url(img/bg.png) no-repeat center center fixed;
    /* background-size: cover; */
    background-size: 80%;
    min-height: 80vh;
    padding-bottom: 50px;
}



@media (width < 800px) {
    /* When finished, this feature will add a dynamic background in regard with the device's width. */
    main {
        background: url(img/round-bg.png) no-repeat center center fixed;
        background-size: 100%;
    }
}




/* Footer's CSS */

footer {
    
    background-color: #222222;
    /* width: 100%; */
    min-height: 40vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.footer-main-line {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* column-gap: 1mm; */
    flex-wrap: nowrap;
    padding: 2mm;
}

#social-bar {
    display: flex;
    width: 30vw;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#social-bar img {
    width: 7vw;
    height: auto;
}

#social-bar img:hover {
    cursor: pointer;
}

#social-bar p {
    color: white;
    text-align: center;
}

.flex-item {
    flex: 1 1 25%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    /* border-left: 1px solid white;
    border-right: 1px solid white; */
}

.footer-border {
    position: relative;
    top: 20%;
    bottom: 20%;
}

.left {
    border-left: 1px solid white;
}

.right {
    border-right: 1px solid white;
}

.footer-content {
    color: white;
    padding: 3mm;
    width: 100%;
    text-decoration: none;
}

.footer-content p {
    text-decoration: underline var(--LM-color) 2px;
    text-underline-offset: 6px;
}

.footer-content li {
    width: 100%;
    height: 22px;
}

.footer-content ul li a {
    text-decoration: none;
    color: inherit;
    transition: all .2s ease-in-out;
    transform-origin: center;
}

.footer-content ul li a:hover {
    font-size: 107%;
    transform: scale(1.07);
    color: #12D8FA;
}

/* .flex-item::before {
    content: "";
    border: 1mm solid #d3d3d3;
    align-self: stretch;
}

.flex-item--start {
    order: -1;
} */



.footer-img {
    width: 60%;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
}

@media (width < 550px) {
    .footer-main-line {
        flex-wrap: wrap;
    }
    .flex-item {
        flex: 1 1 100%;
        height: 20vh;
    }
    .footer-border {
        display: none;
    }
    #social-bar {
        flex-wrap: wrap;
        flex-direction: column;
    }
    #social-bar img {
        width: 20vw;
    }
}