.count-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 380px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(33, 120, 163, 0.174);
    border: var(--soft-white) 2px solid;
    z-index: 0;
}

.count-box p {
    font-size: 130%;
}

.totalDisplay {
    font-weight: 600;
    font-size: 550%;
    color: #006d99;
}

@media only screen and (max-width: 900px) {
    .count-box {
        height: 260px;
        width: 85vw;
    }
}

@media only screen and (max-width: 700px) {
    .count-box {
        width: 93vw;
    }
    .count-box p {
        font-size: 95%;
        text-align: center;
    }
    .totalDisplay {
        font-size: 400%;
    }
}

@media only screen and (max-width: 350px) {
    .count-box {
        height: 130px;
    }
    .totalDisplay {
        font-size: 250%;
    }
}