.count-box {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(33, 120, 163, 0.174);
    border: var(--soft-white) 2px solid;
    z-index: 0;
}

.count-box p {
    font-size: 130%;
}

.totalDisplay {
    font-weight: 600;
    font-size: 550%;
    color: rgb(223, 186, 0); /* TO REMOVE AFTER THE VALUE ISN'T A TEST ONE */
}

@media (width < 900px) {
    .count-box {
        height: 40%;
        width: 85vw;
    }
}

@media (width < 700px) {
    .count-box {
        width: 93vw;
    }
    .count-box p {
        font-size: 95%;
        text-align: center;
    }
    .totalDisplay {
        font-size: 300%;
    }
}

@media (width < 425px) {
    .count-box {
        height: 25%;
    }
    .totalDisplay {
        font-size: 250%;
    }
}