/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --soft-white: #E5E9EC;
    --LM-color: #0099D7;
}

body {
    background-color: #DEDEDE;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 16vh;
    background: -o-linear-gradient(325deg, rgba(48,127,180,1) 14%, rgba(82,160,203,1) 38%, rgba(123,201,230,1) 64%, rgba(181,223,237,1) 83%, rgba(181,223,237,1) 100%);
    background: linear-gradient(125deg, rgba(48,127,180,1) 14%, rgba(82,160,203,1) 38%, rgba(123,201,230,1) 64%, rgba(181,223,237,1) 83%, rgba(181,223,237,1) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 125%;
}

header .title {
    height: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 800;
}

header .title h1 a {
    color: white;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 8vh;
    position: relative;
}

header nav .nav-wrapper {
    width: 80vw; 
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header nav .link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 35px;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.link-wrapper a {
    color: #003459;
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
    position: relative;
}

.link-wrapper a:hover {
    color: white;
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

.link-wrapper .underline-anim::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 0;
    background-color: white;
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

.link-wrapper .underline-anim:hover::after {
    width: 100%;
    -webkit-transition: 400ms ease-in-out;
    -o-transition: 400ms ease-in-out;
    transition: 400ms ease-in-out;
}

header nav .nav-wrapper img {
    height: 90%;
}

#donate-btn {
    background-color: #003459;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 3px;
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

#donate-btn:hover {
    background-color: #E5E9EC;
    color: black;
    /* transform: rotateY(360deg); */
    -webkit-transition: 500ms ease-in-out;
    -o-transition: 500ms ease-in-out;
    transition: 500ms ease-in-out;
}

header .reduced-menu {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header .reduced-menu .trigger-wrapper {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

header .reduced-menu #menu-trigger {
    width: 25px;
    height: 2px;
    background-color: white;
    position: relative;
    z-index: 3;
}

#menu-trigger::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 8px;
    -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0;
}

#menu-trigger::after {
    content: "";
    width: 25px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -8px;
    -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0;
}

@-webkit-keyframes menu-opening {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes menu-opening {
    0% {
        background-color: white;
    }
    100% {
        background-color: transparent;
    }
}

@-webkit-keyframes menu-closing {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

@keyframes menu-closing {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: white;
    }
}

header .reduced-menu .nav-logo {
    height: 7.5vh;
}


@media (width < 900px), (device-width < 900px) {
    header nav .nav-wrapper {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    header nav .nav-wrapper img {
        display: none;
    }

    header nav .nav-wrapper .link-wrapper {
        gap: 50px;
    }
}

@media (width < 630px), (device-width < 630px) {
    header {
        height: 10vh;
    }

    header .title {
        display: none;
    }

    header nav {
        display: none;
    }

    header .reduced-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 10vh;
    }
}

@media (height < 600px), (device-height < 600px) {
    header {
        height: 96px;
    }
    header .title {
        height: 48px;
    }
    header nav {
        height: 48px;
    }
}

@media (height < 600px) and (width < 630px), (device-width < 630px) and (device-height < 600px) {
    header {
        height: 60px;
    }
    header .reduced-menu {
        height: 60px;
    }
    header .reduced-menu .nav-logo {
        height: 45px;
    }
}


/* Side nav CSS */

#side-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -500px;
    background-color: #00192b;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}

.side-nav-wrapper {
    z-index: 2;
    margin-top: 10vh;
    font-size: 125%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30%;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.side-nav-wrapper a {
    z-index: 2;
    color: #CCC;
}

.side-nav-wrapper .separation {
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: rgba(200, 200, 200, 0.3);
}

#side-nav-donation {
    z-index: 2;
    margin-top: 40px;
    font-size: 130%;
    /* color: #222; */
    width: 60vw;
    padding: 4vw 1.5vw;
    background-color: lightcyan;
    text-align: center;
    border-radius: 10px;
}

.btn-grad {
    background-image: -webkit-gradient(linear, left top, right top, from(#1FA2FF), color-stop(51%, #12D8FA), to(#1FA2FF));
    background-image: -o-linear-gradient(left, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    /* text-transform: uppercase; */
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    /* box-shadow: 0 0 20px #eee; */
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
 

@-webkit-keyframes side-nav-appearance {
    0% {
        -webkit-transform: translate(0);
                transform: translate(0)
    }
    100% {
        -webkit-transform: translate(500px);
                transform: translate(500px);
    }
}
 

@keyframes side-nav-appearance {
    0% {
        -webkit-transform: translate(0);
                transform: translate(0)
    }
    100% {
        -webkit-transform: translate(500px);
                transform: translate(500px);
    }
}

@-webkit-keyframes side-nav-disappear {
    0% {
        -webkit-transform: translate(500px);
                transform: translate(500px);
    }
    100% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
}

@keyframes side-nav-disappear {
    0% {
        -webkit-transform: translate(500px);
                transform: translate(500px);
    }
    100% {
        -webkit-transform: translate(0);
                transform: translate(0);
    }
}

@media (height < 600px) {
    .side-nav-wrapper {
        margin-top: 60px;
        height: 180px;
    }
}




/* Main's CSS */

main {
    background: url(img/bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 80vh;
}

@media (width < 800px) {
    /* When finished, this feature will add a dynamic background in regard with the device's width. */
    main {
        background: url(img/round-bg.png) no-repeat center center fixed;
        background-size: 100%;
    }
}




/* Footer's CSS */

footer {
    background-color: #222222;
    /* width: 100%; */
    height: 20vh;
}