* {
    list-style: disc;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(../img/bg.png);
    min-height: 100vh;
}

#options-presentation {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1cm;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8mm;
    border: black 3px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3px;
}

#title, #line {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


#je-fais-un-don {
    text-align: center;
    font-size: 150%;
    font-weight: 400;
}

.indented-paragraph {
    margin-left: 1cm;
}


#paiement-redirect {
    display: flex;
    justify-content: space-around;
    padding: 1cm;
} 


