:root {
    --soft-white: #E5E9EC;
    --LM-color: #0099D7;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    background-image: url(../img/bg.png);
    min-height: 75vh;
    margin-top: 10vh;
}

#options-presentation {
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1cm;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8mm;
    border: black 3px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3px;
}

#title,
#line {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#title {
    font-size: larger;
    font-weight: 500;
}

#line {
    font-size: large;
    text-decoration: underline;
}

.grid-item {
    background-color: white;
}

.grid-item p {
    padding-left: 5px;
}

.indented-paragraph {
    margin-left: 1cm;
}

.paiement-redirect-btn {
    appearance: button;
    background-color: #014575;
    border: solid transparent;
    border-radius: 7px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 45px 15%;
    outline: none;
    overflow: visible;
    padding: 16px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 70%;
}