main {
    background: #dedede;
}

.images {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 5mm;
    border: #333 solid 5px;
    padding: 5mm;
    columns: 4;
    column-gap: 20px;
    min-height: 20vh;
}

.img-block {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1rem;
}

.sub-img-block {
    width: 100%;
    height: auto;
    z-index: 1;
}

.sub-img-block img {
    width: 100%;
    height: auto;
    border-radius: 1%;
}

.legende {
    position: absolute;
    width: 100%;
    bottom: 4px;
    z-index: 2;
    background: rgba(255,255,255,0.75);
    /* background: linear-gradient(0deg, rgba(255,255,255,0.927608543417367) 0%, rgba(255, 255, 255, 0.781) 76%); */
    max-height: 100%;
    transition: max-height 1s;
}

.hidden {
    max-height: 0;
    transition: max-height 1s cubic-bezier(0, -1.15, 0.85, 1.89);
    animation: color-change 5s ease-in-out;
    overflow: hidden;
}

@keyframes color-change {
    0% {
        color: rgba(0,0,0,0);
    }
    100% {
        color: black
    }
}

@media only screen and (max-width: 900px) {
    .gallery-box .images{
        columns: 3;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-box {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }
    .gallery-box .images{
        columns: 2;
    }
}

@media only screen and (max-width: 400px) {
    .gallery-box .images{
        columns: 1;
    }
}