main {
    background: #dedede;
}

.hidden {
    visibility: hidden;
    transition:visibility 0.3s linear;
}

.gallery-box {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 5mm;
    border: #333 solid 5px;
    padding: 5mm;
}

.gallery-box div {
    columns: 4;
    column-gap: 20px;
}

.img-block {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 1%;
    transition: 0.5s ease-in-out;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    display: flex;
    flex: 1;
    z-index: 1;
}

.img-block img {
    width: auto;
    max-width: 100%;
    height: auto;
}
/* 
.img-block .legende {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 10;
    left: -100%;
    top: -100%;
    min-height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.927608543417367) 0%, rgba(255,255,255,0.3309698879551821) 76%);
} */

.img-block .legende {
    position: relative;
    background-color: white;
    /* z-index: 10; */
    left: calc(-100% - 20px);
    width: 200px;
}

.img-block .legende p {
    position: absolute;
    width: 100%;
}





/* LOADING DOTS CSS */

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.loading-dots {
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
}

.loading-dots.hide {
    opacity: 0;
}

.loading-dots div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #333;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-dots div:nth-child(1) {
    left: 8px;
    animation: loading-dots1 0.6s infinite;
}

.loading-dots div:nth-child(2) {
    left: 8px;
    animation: loading-dots2 0.6s infinite;
}

.loading-dots div:nth-child(3) {
    left: 32px;
    animation: loading-dots2 0.6s infinite;
}

.loading-dots div:nth-child(4) {
    left: 56px;
    animation: loading-dots3 0.6s infinite;
}

@keyframes loading-dots1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loading-dots3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes loading-dots2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@media only screen and (max-width: 900px) {
    .gallery-box div {
        columns: 3;
    }
}

@media only screen and (max-width: 768px) {
    .gallery-box {
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }
    .gallery-box div {
        columns: 2;
    }
}

@media only screen and (max-width: 400px) {
    .gallery-box div {
        columns: 1;
    }
}