@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

html,
body {
    margin: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 100px;
    background: linear-gradient(125deg, rgba(48, 127, 180, 1) 14%, rgba(82, 160, 203, 1) 38%, rgba(123, 201, 230, 1) 64%, rgba(181, 223, 237, 1) 83%, rgba(181, 223, 237, 1) 100%);
}

.header-wrapper {
    position: relative;
    height: 100%;
}

.arrow {
    position: absolute;
    color: var(--soft-white);
    transition: 300ms ease-in-out;
    float: left;
    top: 25%;
    left: 30px;
    height: 48px;
}

.header-wrapper img {
    display: none;
}

.arrow * {
    color: inherit;
    font-size: 3rem !important;
}

.arrow:hover {
    color: white;
    transition: 300ms ease-in-out;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.title {
    position: absolute;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 690px) {
    header {
        height: 75px;
    }

    .title {
        display: none;
    }

    .header-wrapper {
        width: 90%;
        margin-inline: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-wrapper img {
        display: flex;
        width: 50px;
        height: 50px;
    }

    .header-wrapper * {
        position: relative;
        float: none;
        top: 0;
        left: 0;
    }
}




main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 4px;
    /* height: 90vh; */
    margin: 10vw;
    margin-top: 40px;
    box-sizing: border-box;
    width: 80vw;
    background-color: #eee;
}


#article {
    grid-column: span 2;
    background-color: white;
    padding-right: calc((10vw - 4px)/2);
}


#article h2 {
    font-size: 28px;
}

#article p {
    font-size: 16px;
}

#suggestions-column {
    height: fit-content;
    display: grid;
    background-color: white;
    gap: 55px;
    padding-left: calc((10vw - 4px)/2);
}

.recommended-article {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1.5fr 2fr;
    width: 100%;
    height: 35vh;
    border-radius: 12px;
}

@media only screen and (max-width: 760px) {
    #suggestions-column {
        grid-column: span 2;
    }
    .recommended-article {
        width: 60%;
        margin: 0 20%;
    }
}

.hidden-article {
    display: none;
}

.recommended-article:hover {
    cursor: pointer;
    filter: brightness(0.9);
}


.img-div {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.article-start {
    max-height: 100%;
    padding: 15px;
    border-top: none;
    /* text-overflow: clip; */
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.article-start p {
    font-size: 13px;
    margin: 0;
}

.article-start h4 {
    margin: 0;
}