.darna {
    transition: 0.70s;
    height: 1px;
    width: 1px;
    object-position: right top;
  }
  
.darna:hover {
    transition: 0.70s;
    transform: rotate(1440deg);
  } 
  
  :root {
    --margin-width: 15vw;
    --article-gap: 380px;
    --border-radius: 5px;
  }
  
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .wrapper {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: [column-start] auto [article1-start] var(--article-gap) [article2-start] var(--article-gap) [article3-start] var(--article-gap) [article3-end] auto [column-end];
    /* grid-template-rows: ; */
  }
  
  .article {
    max-height: 100%;
    max-width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }
  
  #article1 {
    grid-column: article1-start / article2-start;
  }
  
  #article2 {
    grid-column: article2-start / article3-start;
  }
  
  #article3 {
    grid-column: article3-start / article3-end;
  }
  
  .article img {
    object-fit: cover;
    background-color: #226F9F;
    color: #DDD;
    width: calc(var(--article-gap)-10px);
    aspect-ratio: 16/11;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    border: #DDD 2px solid;
    border-bottom: none;
  }
  
  .article-text {
    padding: 10px 15px;
    height: 90px;
    background-color: #DDD;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    position: relative;
  }
  
  .article-text .card-text {
    font-size: 0.8rem;
    line-height: 1rem;
    height: 70px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 50px;
  }
  
  .article-text::before {
    content: "";
    width: 370px;
    height: 1rem;
    background-color: #DDD;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
  
  .article-text::after {
    content: "";
    width: 150px;
    height: 1rem;
    background: linear-gradient(to right, #ffffff05 0%, #dddddd78 60%, #ddddddff 90%);
    position: absolute;
    bottom: 1rem;
    right: 0;
  }
  
  .article:hover {
    cursor: pointer;
  }
  
  .entire-article {
    --padding: 150px;
    width: calc(1140px - 2*var(--padding) - 10px);
    padding-block: calc(var(--padding) / 1.735);
    padding-inline: 150px;
    background-color: #DDD;
    border-radius: 5px;
    display: none;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: 700ms ease-in-out;
    margin-left: 75px;
  }
  
  .article-title {
    font-size: 1.17em;
    font-weight: bold;
  }
  
  .entire-article #version1 {
    display: none;
    text-align: inherit;
  }
  
  .entire-article #version2 {
    display: none;
    text-align: inherit;
  }
  
  .entire-article #version3 {
    display: none;
    text-align: inherit;
  }

.wrapper{
padding-top: 50px;
padding-bottom: 50px;
}