* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

:root {
    --grid-gap: 20px
}

main {
    background-image: none;
}

.darna {
	transition: 0.70s;
	height: 1px;
	width: 1px;
	object-position: right top;
}

.darna:hover {
	transition: 0.70s;
	transform: rotate(1440deg);
}

#first-row {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, calc((100vw - 40px - 0.14vw)/3))); */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: var(--grid-gap);
    row-gap: 40px;
    padding: 40px 7vw 0;
    box-sizing: border-box;
}

.article {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 2fr 1.5fr;
    width: 100%;
    height: 50vh;
    background-color: #EEE;
    border-radius: 12px;
}

#second-row .article {
    height: 45vh;
}

.article:hover {
    cursor: pointer;
    filter: brightness(0.9);
}


.img-div {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    border: #CCC solid 3px;
    border-radius: 12px 12px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-div img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.article-start {
    max-height: 100%;
    padding: 15px;
    border: #CCC solid 3px;
    border-top: none;
    border-radius: 0 0 12px 12px;
    /* text-overflow: clip; */
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 2fr;
}


#first-row .article-start h3 {
    text-align: center;
    font-size: 1rem;
}

#first-row .article-start p {
    font-size: .9rem;
}

#second-row .article-start h3 {
    text-align: center;
    font-size: .95rem;
}

#second-row .article-start p {
    font-size: .8rem;
}


#second-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: var(--grid-gap);
    row-gap: 40px;
    padding: 40px 7vw 0;
    box-sizing: border-box;
}
