.principal {
    padding-top: 20vh;
    width: 70vw;
    height: 100%;
    margin: auto;
}

.principal-wrapper {
    width: 100%;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.darna {
    transition: 0.70s;
    height: 1px;
    width: 1px;
    object-position: right top;
  }
  
.darna:hover {
    transition: 0.70s;
    transform: rotate(1440deg);
  } 
  
  .content {
    width: 183px;
    height: 276px;
    border: 1px solid red;

}
